//setting up colors
$primaryColor : #dee1df;
$secondaryColor : #393a39;
$thirdColor : #4d4943;
$darkColor: rgb(14, 17, 17, 1);
$darkMenuColor: linear-gradient(to bottom, rgb(14, 17, 17, 1), rgba(14, 17, 17, 0.569));
$darkfooterColor: linear-gradient(to top, rgb(14, 17, 17, 1), rgba(14, 17, 17, 0.428));

$primaryOpColor : #dee1df6a;
