@import 'colors';
@import 'typography';

.footer {
  @include font-normal(1rem);
  height: 10vh;
  width: 100%;
  background: $darkfooterColor;

  span {
    color: white;
    position: relative;
    top: 20px;
    left: 20px;
  }
}