@import 'colors';
@import 'typography';

.navigation {
  height: 90px;
  width: 100%;
  background: $darkMenuColor;
  display: flex;
  justify-content: space-between;

  .logo {
    position: relative;
    top: 22px;
    left: 20px;
    width: 55px;
  }

  .navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    right: 40px;
    
    .navList {
      list-style-type: none;
      display: flex;
      column-gap: 10px;
      @include font-normal(1.5rem);
      color: white;

      .navItem {

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
